@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-poppins
}

.card-top{
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.parallax-bg{
  background-image: url("https://res.cloudinary.com/dpxuxtdbh/image/upload/v1716914117/asseco-ncaa/airplane-track-front-view-generative-ai_qxhv0c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
 
}

.transparent-scrollbar{
  scrollbar-width: thin; /* "auto" or "thin" depending on your preference */
    scrollbar-color: transparent transparent;
}
.transparent-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}
.transparent-scrollbar::-webkit-scrollbar-thumb{
  background-color: transparent;
  border: none;
}
.spin-button-none::-webkit-inner-spin-button{
    display: none;
  }

  .ticketMessage h1{
    @apply text-[1.4rem] font-semibold
  }

  .ticketMessage h2{
    @apply text-[1.25rem] font-semibold;
     line-height: 1.1;
  }
  .ticketMessage h3{
    @apply text-[1.05rem] font-semibold
  }
  .ticketMessage h4{
    @apply text-[0.9275rem] font-semibold
  }
  .ticketMessage p{
    @apply font-[400] text-[0.8275rem]
  }

  .ticketMessage ul {
    list-style-type: circle;
    @apply divide-y divide-neutral-300 space-y-3 
  }
  .ticketMessage ol {
    list-style-type:lower-roman;
    @apply divide-y divide-neutral-300 space-y-3 
  }

  .ticketMessage span{
    @apply text-blue-300 mx-2
  }

  .ticketMessage blockquote{
    @apply text-lg italic font-semibold text-gray-900 border-s-4 border-gray-300 bg-gray-50/40 my-1
  }
  .ticketMessage{
    @apply leading-8 text-[0.8275rem]
  }

  .tiptap > * + * {
    margin-top: 0.75em;
  }
  .tiptap p{
    margin :0
  }
  .tiptap ul,
  .tiptap ol {
    padding: 0 1rem;
  }
  
  .tiptap h1,
  .tiptap h2,
  .tiptap h3,
  .tiptap h4,
  .tiptap h5,
  .tiptap h6 {
    @apply leading-tight;
    margin :0

  }
  
  .tiptap code {
    background-color: rgba(97, 97, 97, 0.1);
    color: #616161;
  }
  
  .tiptap pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }
  
  .tiptap pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
  
  .tiptap img {
    max-width: 100%;
    height: auto;
  }
  
  .tiptap blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
  }
  
  .tiptap hr {
    border: none;
    border-top: 2px solid rgba(13, 13, 13, 0.1);
    margin: 2rem 0;
  }
  /* .react-datetime-picker__wrapper{
    border-color: transparent;
  } */
  .react-datetime-picker__inputGroup__input {
  background-color: transparent;
  @apply inline p-0 mx-2 
  }

  .react-datetime-picker__clock .react-datetime-picker__clock--open{
    @apply bg-white z-[99999]
  }

  .expiredSla{
   
    animation: glow 1s infinite ease-in-out;
    @apply shadow-red-400
  }
  @keyframes glow {
    from{
      @apply shadow-sm shadow-red-600
    }
    to{
      @apply shadow-lg shadow-red-600
    }
    
  }
  .react-time-picker__wrapper{
    @apply border-transparent border-opacity-0 h-8 bg-white rounded-xl
  }
  .react-time-picker__inputGroup__input{
    @apply py-0 px-2 focus:border-transparent focus-within:border-transparent focus:outline-none focus-within:outline-none
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.react-datetime-picker__clock {
  display: none;
}

.react-time-picker__clock {
  display: none;
}

.upload-widget{
  z-index: 99999;
}